.itemWrapper, .actionPanel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.actionPanel {
  gap: 10px;
}

.actionControlBtns, .engineControlBtns {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text {
  font-size: 2.2rem;
  color: var(--light-blue);
  border-top: 1px dashed var(--disable);
  border-bottom: 1px dashed var(--disable);
  padding: 20px 0 20px 24px;
  width: 100%;
  margin-left: 2rem;
  text-transform: uppercase;

  @media screen and (max-width: 1025px) {
    font-size: 1.5rem;
    padding: 20px 0 20px 20px;
  }

  @media screen and (max-width: 480px) {
    padding: 18px 0 18px 12px;
    font-size: 1.2rem;
    margin-left: 1.2rem;
  }
}

.icon {
  svg {
    height: 40px;
    width: fit-content;

    @media screen and (max-width: 1025px) {
      height: 30px;
    }

    @media screen and (max-width: 480px) {
      height: 24px;
    }
  }
}