.table {
  width: 100%;
  overflow-x: scroll;
  color: var(--yellow);

  & th {
    border-bottom: 3px solid var(--light-blue);
    padding-bottom: 10px;
  }
}

.headerCell {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.1rem;
  padding: 12px 0;

  @media screen and (max-width: 1025px) {
    font-size: 0.9rem;
  }

  @media screen and (max-width: 480px) {
    font-size: 0.8rem;
  }
}

.toggle {
  cursor: pointer;
  width: 20%;

  &:hover {
    color: var(--pink);
    background-color: var(--light-blue);
  }
}