.layoutWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(var(--linear-gradient1), var(--linear-gradient2));
}

.main {
  flex-grow: 1;
  padding: 72px 40px;
}