:root {
  --pink: #e88fff;
  --blue: #9bfdff;
  --light-blue: rgba(245, 255, 255, 0.16);
  --green: #bcff8c;
  --yellow: #fff28c;
  --disable: #858eab;

  --linear-gradient1: #03195f;
  --linear-gradient2: #7240fe;

  --footer: rgba(188, 213, 224, 0.55);
}